<div class="container">
  <h1 class="text-center">Skills</h1>
  <div class="container text-center float-sm-start">
    <div class="d-flex justify-content-center row row-cols-2">
      <div class="card mx-3 col my-3" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Frontend Web</h5>
          <p class="card-text">
            Memiliki keterampilan dalam merancang dan mengembangkan antarmuka
            pengguna yang menarik dan responsif menggunakan bahasa pemrograman
            seperti HTML, CSS, dan Typescript.
          </p>
        </div>
      </div>
      <div class="card mx-3 col my-2" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Testing</h5>
          <p class="card-text">
            Memiliki keterampilan dalam melakukan pengujian menyeluruh berdasarkan
            test case atau scenario terhadap fungsionalitas, kinerja, dan tampilan
            website atau aplikasi.
          </p>
        </div>
      </div>
      <div class="card mx-3 col my-2" style="width: 20rem">
        <div class="card-body">
          <h5 class="card-title">Basic Programming</h5>
          <p class="card-text">
            Memiliki pemahaman tentang struktur logika, sintaksis, dan algoritma
            dasar yang diperlukan untuk membuat program sederhana menggunakan
            bahasa pemrograman yang dipahami.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
