<div class="container text-center h-200">
  <div class="row">
    <div class="col position-relative">
      <div class="mx-auto">
        <img src="../../../assets/img/myself.png" height="400px" alt="" />
      </div>
    </div>
    <div class="col text-start my-auto">
      <!-- <h1>Hi I'm</h1> -->
      <h1>Rafli Purnama Putra</h1>
      <p>
        Dengan pengalaman lebih dari satu tahun menjadi bagian dalam
        pengembangan situs web di Direktorat Pusat Teknologi Informasi
        Telkomuniversity, saya bertugas menjadi Front-End Developer, di mana
        saya bertanggung jawab untuk membuat kode HTML, CSS, dan TypeScript
        menggunakan kerangka kerja Angular. Selain itu, saya juga mengambil
        peran sebagai Quality Assurance , di mana tanggung jawab saya termasuk
        memahami tujuan proyek, merancang kasus dan skenario pengujian, dan
        melakukan pengujian aplikasi secara menyeluruh serta melaporkan bug
      </p>
      <div class="d-flex justify-content-center">
        <a href="../../../assets/file/CV_Rafli Purnama Putra_BahasaIndonesia.pdf" download="CV_Rafli Purnama Putra_BahasaIndonesia.pdf">
          <button
            type="button"
            class="btn btn-bahasa rounded-4 text-center animate__animated animate__tada animate__infinite animate__slower mx-3"
          >
            Curiculum Vitae Bahasa
          </button>
        </a>
        <a href="../../../assets/file/CV_Rafli Purnama Putra_BahasaInggris.pdf" download="CV_Rafli Purnama Putra_BahasaInggris.pdf">
          <button
            type="button"
            class="btn btn-eng rounded-4 text-center animate__animated animate__tada animate__infinite animate__slower mx-3"
          >
            Curiculum Vitae English
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
