<div class="container ">
  <div class="slider ">
    <div class="slide-track d-flex justify-content-center mt-2 overflow-hidden">
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/html5.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/css.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/typescript.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/angular.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/codeigniter.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/reactjs.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/java.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/figma.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/python.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/go.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/bootstrap5.png" alt="" width="100px" height="100px"></span>
      </div>

      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/html5.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/css.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/typescript.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/angular.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/codeigniter.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/reactjs.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/java.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/figma.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/python.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/go.png" alt="" width="100px" height="100px"></span>
      </div>
      <div class="slide">
        <span><img src="../../../assets/img/Tech Stack Icons/bootstrap5.png" alt="" width="100px" height="100px"></span>
      </div>
    </div>
  </div>
  <hr>

</div>
